* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background: #123456;
}

.navegador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    color: white;
}

.fotologo {
    font-size: 1.5rem;
    margin: .5rem;
}

.enlaces {
    margin: 0;
    padding: 0;
    /* display: flex; */
}

.enlaces ul {
    display: flex;
}

.enlaces li {
    list-style: none;
}

.enlaces li a {
    text-decoration: none;
    padding: 1rem;
    display: block;
    color: white;
}

.enlaces li:hover {
    background-color: #555;
}